

$dark-primary-text-color: rgb(37, 57, 79);
$light-primary-text-color: rgb(255,255,254);
$neutral-text-color: rgb(123, 174, 208);

$alternative-dark-primary-text-color: lighten($dark-primary-text-color, 40%);

$field-border-color: $neutral-text-color;

$dark-background-color: $dark-primary-text-color;
$light-background-color: #FFFFFF;
$neutral-dark-background-color: $field-border-color;
$neutral-light-background-color: rgb(227, 243, 247);

$header-mandatory-text-color: rgb(189, 68, 56);
