

$field-title-font-family: "Andale Mono", AndaleMono, monospace;
$header-title-font-family: "Arial Black", "Arial Bold", "Arial", Gadget, sans-serif;
$part-number-font-family: "Arial", Gadget, sans-serif;
$user-input-font-family: "Comic Sans MS", "Comic Sans", cursive;
$stars-font-family: monospace;
$header-subtitle-font-family: Verdana, Geneva, sans-serif;
