@import "../common/colors";
@import "../common/fonts";

$title-text-color: $dark-primary-text-color;

.sheet-field-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 0.75rem;
  flex: 1;

  .sheet-field-title {
    font-family: $field-title-font-family;
    font-size: 1.5rem;
    color: $title-text-color;
    white-space: nowrap;
    margin-right: 0.25rem;
  }
}

.sheet-field {
  box-sizing: border-box;
  font-family: $user-input-font-family;
  border-radius: 0;
}

.sheet-field:focus-visible {
  outline: 0.125rem inset rgb(225, 243, 252);
  outline-offset: -0.1875rem;
}

select.sheet-field {
  margin-bottom: 0;
}

input.sheet-field[type=text], input.sheet-field[type=number], select.sheet-field {
  border-color: rgb(131, 174, 207);
  border-width: 0.1875rem;
  border-style: solid;
}

input.sheet-field[type=text] {
  min-width: 20rem;
  width: 100%;
}

input.sheet-field[type=number] {
  max-width: 3.5rem;
  text-align: center;
}

.sheet-field[name=attr_clearance] {
  min-width: 10rem;
  max-width: 10rem;
  height: 3rem;
}

input.sheet-field[name=attr_sector] {
  max-width: 4.5rem;
  min-width: 4.5rem;
}

.sheet-field[name=attr_cloneCount] {
  max-width: 4rem;
  min-width: 4rem;
}

.sheet-field-container:has(.sheet-field[name=attr_gender]) {
  max-width: 9rem;
}

.sheet-field[name=attr_gender] {
  max-width: 4.125rem;
  margin-right: 5rem;
}

/* Not sure why this is necessary */
.sheet-field-container:has(.sheet-field[name=attr_gender]) {
  padding-right: 1rem;
}

input.sheet-field[name=attr_xpPoints] {
  max-width: inherit;
  min-width: inherit;
  flex: 1;
}

.sheet-styled-radio-button-container {
  margin-top: 0.5rem;
}

input.sheet-field.sheet-field-freeform-text-line {
  border-width: 0 0 0.1875rem 0;
}

.sheet-field-container-skill {
  position: relative;

  .sheet-skill-roll-button {
    border: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;

    &:hover {
      text-shadow: 0 0 0.125rem rgba($dark-primary-text-color, 50%);
    }
  }

  .sheet-skill-roll-menu {
    position: absolute;
    top: 2.875rem;
    left: 0;
    width: calc(100% - 0.5rem);
    background-color: $light-background-color;
    border: 0.125rem solid $field-border-color;
    box-shadow: 0.1875rem 0.1875rem 0.5rem $field-border-color;
    z-index: 1;

    &.sheet-hidden {
      display: none;
    }

    .sheet-skill-roll-menu-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      text-transform: none;


      .sheet-skill-roll-menu-header-text {
        span {
          white-space: nowrap;
        }
      }

      .sheet-skill-roll-menu-header-close-button {
        border: 0;
        background-color: transparent;
      }
    }

    .sheet-skill-roll-menu-stat-container {
      padding-left: 1rem;

      .sheet-skill-roll-button {

        &.sheet-skill-roll-default-button {
          font-weight: bold;
        }
      }
    }
  }
}
