@import "../common/_colors";

$star-outline-color: $field-border-color;
$star-checked-color: $dark-primary-text-color;
$star-hovered-color: lighten($star-checked-color, 50%);
$star-hovered-shadow-color: $star-outline-color;

.sheet-treason-stars-container {

  button.sheet-field-treason-star {
    border: 0;
    background-color: transparent;
    font-size: 1.5rem;
    line-height: 1;
    color: $star-outline-color;
    padding: 0;
  }

  button.sheet-field-treason-star::before {
    content: "☆";
  }

  button.sheet-field-treason-star.checked {
    color: $star-checked-color;
  }

  button.sheet-field-treason-star.hovered {
    color: $star-hovered-color;
    text-shadow: 0 0 0.25rem $star-hovered-shadow-color;
  }

  button.sheet-field-treason-star.hovered::before, button.sheet-field-treason-star.checked::before {
    content: "★";
  }

}
