@import "../common/colors";

$star-container-border-color: $field-border-color;
$star-outline-color: $field-border-color;
$star-checked-color: $dark-primary-text-color;
$star-hovered-color: $alternative-dark-primary-text-color;
$star-hovered-shadow-color: $star-outline-color;

.sheet-treason-stars-container {
  display: flex;
  flex-wrap: nowrap;
  border: 0.1875rem solid $star-container-border-color;
  padding: 0 0.75rem 0.5rem;

  button.sheet-field-treason-star {
    border: 0;
    background-color: transparent;
    font-size: 1.75rem;
    line-height: 1;
    color: $star-outline-color;
    padding: 0.25rem 0 0 0;
  }

  button.sheet-field-treason-star::before {
    content: "☆";
  }

  button.sheet-field-treason-star.checked {
    color: $star-checked-color;
  }

  button.sheet-field-treason-star.hovered {
    color: $star-hovered-color;
    text-shadow: 0 0 0.25rem $star-hovered-shadow-color;
  }

  button.sheet-field-treason-star.hovered::before, button.sheet-field-treason-star.checked::before {
    content: "★";
  }

}
