@import "../common/colors";
@import "../common/fonts";

$group-border-color: $field-border-color;
$header-text-color: $neutral-text-color;
$header-background-color: $neutral-light-background-color;

.sheet-sub-group {
  font-family: $part-number-font-family;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  border: 0.1875rem solid $group-border-color;

  .sheet-sub-group-header {
    font-family: $header-title-font-family;
    display: flex;
    padding: 0.4375rem 3rem 0.4375rem 2rem;
    color: $header-text-color;
    background-color: $header-background-color;
    font-weight: bold;

    .sheet-chevron {
      font-size: 1.875rem;
      margin-left: 0.5rem;
      line-height: 1.25rem;
    }
  }

  .sheet-sub-group-body {
    padding: 0.5rem 0.75rem;
  }
}

.sheet-part-title {
  font-family: $header-title-font-family;
  color: $dark-background-color;
  background-color: rgb(131, 174, 207);;
  flex: 6;
  padding: 0.5rem 1rem;
}

.sheet-part-number {
  font-family: $part-number-font-family;
  color: $light-primary-text-color;
  background-color: $dark-background-color;
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: normal;
}
