@charset "UTF-8";

@import "./field/_field";
@import "./field/_treason-stars";
@import "./field/_moxie-circles";

.sheet-main {
    text-transform: uppercase;
    background-color: white;
}

.sheet-header {
    display: flex;
    flex-direction: column;
}

.sheet-header .sheet-header-top {
    display: flex;
    justify-content: space-between;
}

.sheet-form-title-image-outer-container, .sheet-form-title-outer-text-container {
    display: flex;
    flex-direction: row;
}

.sheet-red-bar, .sheet-spacer-bar {
    width: 1.25rem;
    min-width: 1.25rem;
    margin-right: 1rem;
}

.sheet-red-bar {
    background-color: rgb(189, 68, 56);
}

.sheet-spacer-bar {
    min-height: 1rem;
}

.sheet-form-title-image-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 22rem;
    height: 9rem;
}

.sheet-form-title-image-container .sheet-eye-logo {
    width: 80%;
}

.sheet-form-title-text-container {
    box-sizing: border-box;
    width: 22rem;
    /*tmp*/
    background-color: rgb(122, 174, 208); /* slight variant on purpose */
    padding: 1rem 2.5rem 2rem 2.5rem;
}

.sheet-title {
    font-weight: bold;
    font-size: 4rem;
}

.sheet-title-alpha {
    font-family: "Arial Black", "Arial Bold", "Arial", Gadget, sans-serif;
    font-size: 4.5rem;
    line-height: 1.1;
}

.sheet-title-complex {
    font-family: "Arial Black", "Arial Bold", "Arial", Gadget, sans-serif;
    font-size: 2.875rem;
    letter-spacing: 0.25rem;
    line-height: 0.9;
}

.sheet-title-identity {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    line-height: 1.5;
    height: 4rem;
    transform: scale(.95, 1);
}

.sheet-title-form {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 70%;
    height: 3.15rem;
    color: white;
    transform: scale(1, 1.5);
}

.sheet-mandatory-title {
    font-family: Verdana, Geneva, sans-serif;
    color: rgb(189, 68, 56);
    font-size: 1.5rem;
    height: 2.5rem;
    margin: 1.25rem 0 0 -0.5rem;
    transform: scale(.98, 1.5);
}

.sheet-space-letters-to-full-width {
    text-align: justify;
}

/* Not sure why this works: https://stackoverflow.com/questions/5976289/stretch-text-to-fit-width-of-div */
.sheet-space-letters-to-full-width-helper {
    display: inline-block;
    width: 100%;
}

.sheet-picture {
    margin: 0.75rem 0 0 1rem;
    min-width: 26.5rem;
    border: 0.1875rem solid rgb(131, 174, 207);;
}

.sheet-part {
    display: flex;
    flex-direction: column;
}

.sheet-part-header {
    display: flex;
    align-items: stretch;
    width: 100%;
    font-size: 1.25rem;
}

.sheet-part-number {
    font-family: "Arial", Gadget, sans-serif;
    color: white;
    background-color: #28394F;
    flex: 1;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: normal;
}

.sheet-part-number, .sheet-part-title {
    display: flex;
    align-items: center;
}

.sheet-part-title {
    font-family: "Arial Black", "Arial Bold", "Arial", Gadget, sans-serif;
    color: #28394F;
    background-color: rgb(131, 174, 207);;
    flex: 6;
    padding: 0.5rem 1rem;
}

.sheet-chevron {
    font-size: 2rem;
    line-height: 1rem;
    /* Might regret this 1px fudge: */
    position: relative;
    bottom: -0.0625rem;
}

.sheet-part-body {
    margin: 0.5rem 0;
}

.sheet-part-body-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 0.75rem;
    margin: 0.5rem 0;
    justify-content: space-between;
    align-content: stretch;
}

.sheet-sub-group {
    font-family: "Arial", Gadget, sans-serif;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    border: 0.1875rem solid rgb(131, 174, 207);;
}

.sheet-sub-group .sheet-sub-group-header {
    font-family: "Arial Black", "Arial Bold", "Arial", Gadget, sans-serif;
    display: flex;
    padding: 0.4375rem 3rem 0.4375rem 2rem;
    color: rgb(131, 174, 207);
    background-color: rgb(225, 243, 252);
    font-weight: bold;
}

.sheet-sub-group .sheet-sub-group-header .sheet-chevron {
    font-size: 1.5rem;
    bottom: -0.0625rem;
    margin-left: 0.5rem;
}

.sheet-sub-group-body {
    padding: 0.5rem 0.75rem;
}

.sheet-part-body-row-stat {
    gap: 4rem;
}

.sheet-field-container-stat {
    flex-grow: 1;
    justify-content: flex-end;
}

.sheet-part-body-row > .sheet-field-container:last-child {
    margin-right: 0;
}

.sheet-part-body-row .sheet-field-container .sheet-field-stat {
    max-width: 4rem;
}

.sheet-part-body-skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.sheet-part-body-skill {
    flex-direction: column;
    gap: 0.5rem;
}

.sheet-part-body-skill .sheet-part-body-row {
    flex-direction: row;
}

.sheet-part-body-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sheet-field-container-skill {
    justify-content: space-between;
    gap: 0.5rem;
}

.sheet-field-container-wounds {
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;
}

.sheet-field-container-wounds .sheet-field-container {
    margin-right: 0;
}

.sheet-memory-row {
    display: flex;
}

.sheet-memory-row .sheet-zb-container {
    display: flex;
    align-items: flex-end;
    margin: 0.5rem 0.5rem 0 2rem;
}

.sheet-memory-row .sheet-zb-container .sheet-field-memory-zb {
    min-width: auto;
    width: 5rem;
    border-width: 0;
    margin-right: 0.25rem;
}

.sheet-field-equipment {
    border-width: 0;
}

.sheet-color-dark-blue {
    color: #28394F;
}

.sheet-color-white {
    color: white;
}

.sheet-color-infrared {
    color: rgb(26, 25, 25);
}
.sheet-color-red {
    color: rgb(186, 43, 48);
}
.sheet-color-orange {
    color: rgb(232, 141, 62);
}
.sheet-color-yellow {
    color: rgb(255, 241, 72);
}
.sheet-color-green {
    color: rgb(69, 163, 81);
}
.sheet-color-blue {
    color: rgb(0, 162, 214);
}
.sheet-color-indigo {
    color: rgb(74, 4, 127);
}
.sheet-color-violet {
    color: rgb(157, 17, 247);
}
.sheet-color-ultraviolet {
    color: rgb(255, 255, 254);
}

.sheet-color-infrared {
    color: rgb(255, 255, 254);
    background-color: rgb(26, 25, 25);
}
.sheet-background-color-red {
    color: rgb(26, 25, 25);
    background-color: rgb(186, 43, 48);
}
.sheet-background-color-orange {
    color: rgb(26, 25, 25);
    background-color: rgb(232, 141, 62);
}
.sheet-background-color-yellow {
    color: rgb(26, 25, 25);
    background-color: rgb(255, 241, 72);
}
.sheet-background-color-green {
    color: rgb(26, 25, 25);
    background-color: rgb(69, 163, 81);
}
.sheet-background-color-blue {
    color: rgb(26, 25, 25);
    background-color: rgb(0, 162, 214);
}
.sheet-background-color-indigo {
    color: rgb(255, 255, 254);
    background-color: rgb(74, 4, 127);
}
.sheet-background-color-violet {
    color: rgb(26, 25, 25);
    background-color: rgb(157, 17, 247);
}
.sheet-background-color-ultraviolet {
    color: rgb(26, 25, 25);
    background-color: rgb(255, 255, 254);
}
